.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    list-style: circle;
}

.header__link_active {
    text-decoration: none;
}

.header__link {
    font-size: 18px;
    font-weight: normal;
    color: #000;
}

.header_logo {
    display: block;
    width: 135px;
}

.address {
    row-gap: 5px;
    font-size: 18px;
    font-style: normal;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header__address {
    max-width: 240px;
    justify-self: end;
}

.cover {
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    position: relative;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 100px;
    padding: 161px 20px 104px 50px;
    z-index: 2;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
    margin-bottom: 18px;
}

.aligned-text_center {
    text-align: center;
    margin-bottom: 18px;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0;
    gap: 107px;
}

.cover__description-text {
    text-transform: uppercase;
    padding-top: 13px;
    color: #fff;
    font-size: 22px;
    word-spacing: 19px;
    z-index: 2;
}

.bet-button {
    padding: 12px 27px 11px;
    color: #fff;
    border: 2px solid#fff;
    background: transparent;
    text-transform: uppercase;
    font-size: 22px;
    margin: auto;
    z-index: 2;
}

.lots {
    margin: 178px 24px 109px;
}

.lots__heading {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 26px;;
    color: #000;
}

.lots__card-list {
    display: flex;
    list-style: none;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 31px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    height: 100%;
}

.card {
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    color: #fff;
    text-decoration: underline;
    margin: 49px 40px 0;
    z-index: 2;
}

.card__text {
    font-size: 20px;
    font-weight: regular;
    line-height: 24px;
    color: #fff;
    margin: 0 40px 48px;
    z-index: 2;
}

.lots__look-more-link {
    margin-left: 40px;
    font-weight: normal;
    font-size: 20px;
    color: #000;
    text-decoration: underline;
}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    column-gap: 25px;
    margin: 109px 24px 0;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    margin-top: 46px;
    margin-left: 47px;
    
}

.about__logo-image {
    margin: auto;
    width: 148px;
}

.about__title {
    text-transform: uppercase;
    margin-top: 147px;
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

.about__text {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 26px;
    font-size: 20px;
    font-weight: normal;
    color: #000;
}

.footer {
    margin-top: 187px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-right: 51px;
    padding-left: 51px;
}

.footer__address {
    justify-self: start;
    max-width: 264px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
}

.footer__link_active {
    text-decoration: none;
}

.footer__link-item {
    font-size: 18px;
}

.footer__social-list{
    list-style: none;
    width: 240px;
    display: flex;
    flex-direction: row;
    justify-self: end;
    justify-content: space-between;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
